@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    @font-face {
        font-family: 'Merriweather';
        font-style: normal;
        font-weight: 400;
        src: local(''), url('./fonts/merriweather-v28-latin_cyrillic-regular.woff2') format('woff2'), url('./fonts/merriweather-v28-latin_cyrillic-regular.woff') format('woff');
    }
    @font-face {
        font-family: 'Merriweather';
        font-style: normal;
        font-weight: 700;
        src: local(''), url('./fonts/merriweather-v28-latin_cyrillic-700.woff2') format('woff2'), url('./fonts/merriweather-v28-latin_cyrillic-700.woff') format('woff');
    }
    @font-face {
        font-family: 'Merriweather';
        font-style: normal;
        font-weight: 900;
        src: local(''), url('./fonts/merriweather-v28-latin_cyrillic-900.woff2') format('woff2'), url('./fonts/merriweather-v28-latin_cyrillic-900.woff') format('woff');
    }
}